@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0.7)),
    url(11.jpg);
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 250px;
  padding-top: 20px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 12px 30px;
  position: relative;
}
.nav-links ul a {
  color: white;
  text-decoration: none;
  font: 30px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e7007c;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.banner-text {
  width: 50%;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-text h1 {
  font-size: 65px;
  letter-spacing: 4px;
  color: #e7007c;
  padding: 0%;
}
.banner-text img {
  width: 200px;
  border-radius: 70px;
  padding: 0%;
}
.banner-text p {
  margin: 10px 0 40px;
  font-size: 20px;
}
.banner-text p span {
  color: #e7007c;
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: 600;
}
nav .fas {
  display: none;
}
@media (max-width: 900px) {
  .banner-text h1 {
    font-size: 20px;
    font-variant: small-caps;
  }
  nav img {
    width: 200px;
    padding-top: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .banner-text p {
    font-size: 15px;
  }
  .banner-text p span {
    font-size: 18px;
  }
  .banner-text img {
    width: 200px;
    border-radius: 100px;
    padding: 0%;
  }
  .nav-links {
    position: absolute;
    background: #e7007c;
    height: 100vh;
    width: 200px;
    top: 0%;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fas {
    display: block;
    color: white;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 35px;
  }
}
/* ABout Me */
.aboutme {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0.7)),
    url(background1.jpg);
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 100px;
}
.aboutme h1 {
  color: white;
  font-variant: small-caps;
  font-size: 65px;
  padding-bottom: 0px;
}
.aboutme hr {
  width: 10%;
  margin: auto;
  color: #e7007c;
}
.row .abt {
  padding-top: 40px;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.row .abt img {
  flex-basis: 31%;
  width: 100px;
  border-radius: 50px;
}
.row .abt p {
  flex-basis: 31%;
  color: white;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 20px;
}
@media (max-width: 900px) {
  .row .abt {
    flex-direction: column;
  }
  .row .abt img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    justify-content: center;
  }
  .row .abt p {
    text-align: center;
    font: 14px;
  }
}

/* Services */
.services {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0.7)),
    url(background1.jpg);
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 100px;
}
.services hr {
  width: 10%;
  margin: auto;
  color: #e7007c;
}
.services h1 {
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
  font-variant: small-caps;
  font-size: 65px;
  padding-bottom: 0px;
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
.card {
  background: white;
  width: 350px;
  margin: 20px;
  border-radius: 30px;
}
.card-image {
  background-color: #e7007c;
  height: 270px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-size: cover;
}
.img1 {
  background-image: url(web-dev.png);
  border-bottom: 1px solid black;
}
.img2 {
  background-image: url(social-media-1.jpg);
}
.img3 {
  background-image: url(graphics-design.jpg);
}
.card p {
  padding: 10px;
}
.card a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  margin: 20px 100px;
  display: block;
}
.card:hover {
  background-color: #52535a;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s ease;
}
.card a:hover {
  background-color: rgb(255, 255, 255);
  color: #e7007c;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s ease;
}
/* Contact & Form */
/* Style inputs with type="text", select elements and textareas */
.contact {
  background-color: rgb(7, 9, 27);
  display: flex;
  margin: auto;  
  flex-wrap: wrap;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 100px;
  min-height: fit-content;
}
.form hr {
  width: 10%;
  margin: auto;
  color: #e7007c;
  margin-bottom: 50px;
}
.form h1 {
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
  font-variant: small-caps;
  font-size: 65px;
  padding-bottom: 0px;
}
input[type="text"],
select,
textarea {
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #e7007c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: white;
  color: #e7007c;
}
.social-media a .fab {
  font-size: 30px;
  color: #e7007c;
  letter-spacing: 150px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.social-media a .fas {
  font-size: 30px;
  color: #e7007c;
  padding-top: 30px;
  padding-bottom: 100px;
}
.social-media a .fas:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease;
}
.social-media a .fab:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease;
}
@media (max-width: 900px){
  .social-media a .fab {
  font-size: 20px;
  color: #e7007c;
  letter-spacing: 50px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.social-media a .fas {
  font-size: 20px;
  color: #e7007c;
  padding-top: 30px;
  padding-bottom: 100px;
}
}
